



body{
    background-image: url(https://img.freepik.com/free-photo/yellow-plastic-crosses-zeroches-playing-tic-tac-toe-blue-background-concept-xo-win-challenge-developmental-game-children-flat-lay-top-view_164357-2747.jpg?size=626&ext=jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}


.divsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.rows{
    display: flex;
}

.cell{
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border: 1px solid gray;
    align-items: center;
    padding: 13%;
    font-size: 1rem;
}

h2{
    align-items: center;
    padding-left: 28rem;
}
span{
    color: blue;
}


